@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*FORMS*/

.title {
    text-align: center;
    font-size: 15px;
    color: #6a6a6a;
    margin-bottom: 15%;
}

.title2 {
    text-align: center;
    font-size: 12px;
    color: #6a6a6a;
    margin-bottom: 2%;
}

.contenedor {
    width: 100%;
    padding-top: 15px;
}

.wrapper {
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.wrapper .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield .input {
    width: 50%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .form .inputfield .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #fec107;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover {
    background: #ffd658;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

.form .btn {
    background: #28a745;
    padding: 8px 15px;
    color: white;
    display: flex;
    border: 1px solid #28a745;
    border-radius: 2px;
    margin-top: 10%;
    margin: 5% auto 2%;
    transition: all 400ms ease;
}

.form .btn:hover {
    background: white;
    color: #0d6efd;
    cursor: pointer;
}

.inputfield input[type="file"] {
    margin: auto;
}


/*archivo*/

[type="file"] {
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.labelArchivo {
    border: solid 1px #2fb4cc;
    ;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 2.5%;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 300ms ease-out;
}

.labelArchivo span {
    color: #2fb4cc;
}

.labelArchivo:hover {
    background-color: #2fb4cc;
    color: white;
}

.labelArchivo:hover span {
    color: white;
}


/*tabla*/

.datos {
    margin-bottom: 5%;
}

.table {
    background-color: white;
    overflow: hidden;
    text-align: left;
    width: 80vw;
    margin: 0 auto;
    display: table;
    margin-bottom: 5%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.table td {
    padding: 2%;
    text-align: center;
}

.table tr:first-child {
    font-weight: bold;
}

.table td a {
    background: #fec107;
    padding: 8px 8px;
    text-align: center;
    color: white;
    border-radius: 2px;
    transition: all 400ms ease;
    text-decoration: none;
}

.table td .edit {
    border: 1px #0d6efd solid;
    background: #0d6efd;
    color: white;
}

.table td .edit:hover {
    background: white;
    color: #0d6efd;
}

.table td .eliminar {
    border: 1px #dc3545 solid;
    background: #dc3545;
    color: white;
}

.table td .eliminar:hover {
    background: white;
    color: #dc3545;
}

.regresar {
    margin-left: 2%;
    margin-top: 10%;
    margin-bottom: 2%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #2fb4cc;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: 1px solid #2fb4cc;
}

.regresar:hover {
    color: #2fb4cc;
    background: white;
}

a {
    text-decoration: none;
}