.btn {
    margin-left: 2%;
    margin-top: 10%;
    margin-bottom: 2%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #2fb4cc;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: 1px solid #2fb4cc;
}

.btn:hover {
    color: #2fb4cc;
    background: white;
}

a {
    text-decoration: none;
}